<div class="page-wrapper">
    <div class="left-side">
        <img _ngcontent-yne-c210="" src="../../assets/images/oblonew-updated.png" alt="Logo" class="logo">
        <!-- <img src="../../assets/images/app-logo.png" alt="Logo" class="main-logo"> -->
    </div>
    <div class="right-side">
        <div *ngIf="formType !='createPassword'">
            <ng-container *ngIf="formType=='signup';else elsPart">
                <div class="top-label">
                    <img src="../../assets/images/company_logo.png" alt="Logo" class="logo logo-rigth">
                    <div class="top-row">
                        <span class="span-text">Already have an account?</span>
                        <button mat-raised-button (click)="redirectForm('login',1)">Login</button>
                    </div>
                </div>
            </ng-container>
            <ng-template #elsPart>
                <div class="top-label">
                    <img src="../../assets/images/company_logo.png" alt="Logo" class="logo logo-rigth">
                    <div class="top-row">
                        <span class="span-text">Create account?</span>
                        <button mat-raised-button (click)="redirectForm('signup',3)">Registration</button>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="box" *ngIf="formType=='login'">
            <div class="box-inner">
                <!-- <img src="../../assets/images/app-logo.png" alt="Logo" class="main-logo logo-rigth"> -->
                <h2 class="main-heading">Login to HRMS</h2>
                <p class="title">Welcome back to Oblo!</p>
                <form [formGroup]="loginForm">
                    <fieldset>
                        <label class="block clearfix">
                            <label>User Name</label>
                            <span class="block input-icon input-icon-right">
                                <input formControlName="username" id="UserName" type="text" class="form-control"
                                    placeholder="Username"
                                    [ngClass]="{'is-invalid': f['username'].invalid && (f['username'].dirty || f['username'].touched)}" />
                                <i class="ace-icon fa fa-user"></i>
                                <div *ngIf="f['username'].touched && f['username'].errors" class="invalidMessage">
                                    <div *ngIf="f['username'].errors['required']">
                                        <i class="fa fa-exclamation-circle"></i> Username is required
                                    </div>
                                </div>
                            </span>
                        </label>
                        <label class="block clearfix">
                            <label>Password</label>
                            <span class="block input-icon input-icon-right">
                                <input formControlName="password" type="password" class="form-control"
                                    placeholder="Password" id="pass"
                                    [ngClass]="{'is-invalid': f['password'].invalid && (f['password'].dirty || f['password'].touched)}" />
                                <i class="ace-icon fa fa-eye" (click)="showPass()" aria-hidden="true" *ngIf="!show"></i>
                                <i class="ace-icon fa fa-eye-slash" (click)="showPass()" aria-hidden="true"
                                    *ngIf="show"></i>
                                <div *ngIf="f['password'].touched && f['password'].invalid" class="invalidMessage">
                                    <div *ngIf="f['password'].errors && f['password'].errors['required']">
                                        <i class="fa fa-exclamation-circle"></i> Password is required.
                                    </div>
                                </div>
                            </span>
                        </label>
                        <div class="capture-code">
                            <div class="col-12">
                                <div class="row capture-row">
                                    <div class="capture-item item1">
                                        <div>
                                            <canvas id="loginTextCanvas" name="loginTextCanvas"
                                                style="height:50px; width:150px;" height="40px" width="150px"></canvas>
                                            <img id="loginCaptchaImage" class="left rounded" name="image" />
                                        </div>
                                    </div>
                                    <div class="capture-item item2">
                                        <div class="col-selector">
                                            <div class="capture">
                                                <div class="input-field">
                                                    <input formControlName="captcha" type="text" class="form-control"
                                                        autocomplete="off" style="height: 40px;width: 150px;"
                                                        placeholder="Enter Captcha"
                                                        [ngClass]="{'is-invalid': f['captcha'].invalid && (f['captcha'].dirty || f['captcha'].touched)}" />
                                                    <div *ngIf="f['captcha'].touched && f['captcha'].invalid"
                                                        class="invalidMessage">
                                                        <div
                                                            *ngIf="f['captcha'].errors && f['captcha'].errors['required']">
                                                            <i class="fa fa-exclamation-circle"></i> Captcha is
                                                            required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="capture-item item3">
                                        <div class="col-selector">
                                            <ul class="list-inline text-right">
                                                <li class="list-inline-item">
                                                    <div class="refresh-btn">
                                                        <a href="JavaScript:Void(0);" (click)="GenerateCaptcha(1)">
                                                            <!-- <img
                                                                src="assets/images/refresh.jpg" alt="Refresh"
                                                                title="Refresh" /> -->
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="speaker-btn">
                                                        <a href="JavaScript:Void(0);" (click)="captchavoice(1)">
                                                            <!-- <img
                                                                src="assets/images/speaker.jpg" alt=""
                                                                title="Speaker" /> -->
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="" style="display: flex;justify-content: space-between; margin-bottom: 20px;">
                            <label class="inline">
                                <input type="checkbox" formControlName="rememberMe" id="chk" class="ace filled-in" />
                                <span class="lbl"> Remember Me</span>
                            </label>
                            <label class="inline">
                                <a (click)="redirectForm('forgotpassword',2)" style="cursor: pointer;">
                                    Forgot Password?
                                </a>
                            </label>
                        </div>


                        <div class="clearfix">
                            <button mat-raised-button type="submit" class="width-100 btn-primary submit-button"
                                (click)="submitLoginForm()">
                                <span class="bigger-110"
                                    style="display: flex;align-items: center; justify-content: center;">Login
                                    <ng-container *ngIf="isProccess"><mat-spinner
                                            diameter="25"></mat-spinner></ng-container></span>
                            </button>
                        </div>
                        <div class="space-4"></div>
                    </fieldset>
                </form>
                <!-- <div class="app-links">
                    <p >Get our app for a better experience!</p>
                    <div class="store-buttons">
                        <a
                            href="https://play.google.com/store/apps/details?id=com.nipl.bugandactivity"
                            target="_blank"
                            class="store-button"
                        >
                        <i class="fa fa-android" aria-hidden="true"></i>
                        <span> Get on Google Play</span>
                           
                        </a>
                        <a
                            href="https://apps.apple.com/us/app/bug-and-activity/id6744437272"
                            target="_blank"
                            class="store-button"
                        >
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        <span> Get on App Store</span>
                           
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="box" *ngIf="formType=='forgotpassword'">
            <div class="box-inner">
                <!-- <img src="../../assets/images/app-logo.png" alt="Logo" class="main-logo logo-rigth">        -->
                <h2 class="main-heading">Forgot Password</h2>
                <p class="title">Forgot your password</p>
                <form [formGroup]="forgateForm">
                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input formControlName="email" type="email" class="form-control" placeholder="Email"
                                    [ngClass]="{'is-invalid': f1['email'].invalid && (f1['email'].dirty || f1['email'].touched)}" />
                                <i class="ace-icon fa fa-envelope"></i>
                                <div *ngIf="f1['email'].touched && f1['email'].invalid && f1['email'].errors"
                                    class="invalidMessage">
                                    <div *ngIf="f1['email'].errors && f1['email'].errors['required']">
                                        <i class="fa fa-exclamation-circle"></i> Email is required.
                                    </div>
                                    <div *ngIf="f1['email'].errors && f1['email'].errors['pattern']">
                                        <i class="fa fa-exclamation-circle"></i> Please, enter valid email address.
                                    </div>
                                </div>
                            </span>
                        </label>
                        <div class="capture-code">
                            <div class="col-12">
                                <div class="row capture-row">
                                    <div class="capture-item item1">
                                        <canvas id="fpTextCanvas" name="fpTextCanvas" style="height:50px; width:150px;"
                                            height="40px" width="150px"></canvas>
                                        <img id="fpCaptchaImage" class="left rounded" name="image" />
                                    </div>
                                    <div class="capture-item item2">
                                        <div class="col-selector">
                                            <div class="capture">
                                                <div class="input-field">
                                                    <input formControlName="captcha" type="text" class="form-control"
                                                        autocomplete="off" style="height: 40px;width: 150px;"
                                                        placeholder="Enter Captcha"
                                                        [ngClass]="{'is-invalid': f1['captcha'].invalid && (f1['captcha'].dirty || f1['captcha'].touched)}" />
                                                    <div *ngIf="f1['captcha'].touched && f1['captcha'].invalid"
                                                        class="invalidMessage">
                                                        <div
                                                            *ngIf="f1['captcha'].errors && f1['captcha'].errors['required']">
                                                            <i class="fa fa-exclamation-circle"></i> Captcha is
                                                            required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="capture-item item3">
                                        <div class="col-selector">
                                            <ul class="list-inline text-right">
                                                <li class="list-inline-item">
                                                    <div class="refresh-btn">
                                                        <a href="JavaScript:Void(0);" (click)="GenerateCaptcha(2)"><img
                                                                src="assets/images/refresh.jpg" alt="Refresh"
                                                                title="Refresh" /></a>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="speaker-btn">
                                                        <a href="JavaScript:Void(0);" (click)="captchavoice(2)"><img
                                                                src="assets/images/speaker.jpg" alt=""
                                                                title="Speaker" /></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-12"></div>
                        <div class="clearfix">
                            <button mat-raised-button type="submit" class="width-100 btn-primary submit-button"
                                (click)="submitForgatePasswordForm();">

                                <span class="bigger-110"
                                    style="display: flex;align-items: center; justify-content: center;">Send Me!
                                    <ng-container *ngIf="isProccess"><mat-spinner
                                            diameter="25"></mat-spinner></ng-container></span>

                            </button>
                        </div>
                    </fieldset>
                </form>
                <div class="width-100" style="text-align: center;">
                    <a (click)="redirectForm('login',1)" style="cursor: pointer;">Back to login?</a>
                </div>
            </div>
        </div>
        <div class="box" *ngIf="formType=='signup'">
            <div class="box-inner">
                <!-- <img src="../../assets/images/app-logo.png" alt="Logo" class="main-logo logo-rigth">              -->
                <h2 class="main-heading">Sign up</h2>
                <h2 style="padding: 15px;"><i class="fa fa-user-plus"></i> Create Your Account</h2>

                <form [formGroup]="signupForm" *ngIf="!showOTP">
                    <fieldset>
                        <div class="box-wrraper">
                            <div class="box-title">
                                <p>Company Details</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input formControlName="companyName" type="text" class="form-control"
                                                placeholder="Company Name"
                                                [ngClass]="{'is-invalid': f2['companyName'].invalid && (f2['companyName'].dirty || f2['companyName'].touched)}" />
                                            <i class="ace-icon fa fa-building"></i>
                                            <div *ngIf="f2['companyName'].touched && f2['companyName'].errors"
                                                class="invalidMessage">
                                                <div *ngIf="f2['companyName'].errors['required']">
                                                    <i class="fa fa-exclamation-circle"></i> Company name is required
                                                </div>
                                                <div
                                                    *ngIf="!f2['companyName'].errors['required'] && f2['companyName'].errors['whitespace']">
                                                    <i class="fa fa-exclamation-circle"></i> Company name cannot be just
                                                    whitespace
                                                </div>
                                            </div>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input formControlName="shortName" type="text" class="form-control"
                                                placeholder="Short Name"
                                                [ngClass]="{'is-invalid': f2['shortName'].invalid && (f2['shortName'].dirty || f2['shortName'].touched)}" />
                                            <i class="ace-icon fa fa-building"></i>
                                            <div *ngIf="f2['shortName'].touched && f2['shortName'].errors"
                                                class="invalidMessage">
                                                <div *ngIf="f2['shortName'].errors['required']">
                                                    <i class="fa fa-exclamation-circle"></i> Short name is required
                                                </div>
                                                <div
                                                    *ngIf="!f2['shortName'].errors['required'] && f2['shortName'].errors['whitespace']">
                                                    <i class="fa fa-exclamation-circle"></i> Short name cannot be just
                                                    whitespace
                                                </div>
                                            </div>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <label class="width-100">
                                        <span class="block input-icon input-icon-right">
                                            <textarea formControlName="address" rows="4" cols="50" style="width:100%;"
                                                placeholder="Company Address" class="form-control"
                                                [ngClass]="{'is-invalid': f2['address'].invalid && (f2['address'].dirty || f2['address'].touched)}"
                                                style="border-radius: 5px !important;"></textarea>
                                            <!-- <textarea formControlName="address" type="text" class="form-control" placeholder="Company Address" 
                                                [ngClass]="{'is-invalid': f2['address'].invalid && (f2['address'].dirty || f2['address'].touched)}"/> -->
                                            <i class="ace-icon fa fa-address-card" style="margin-right: 4px;"></i>
                                            <div *ngIf="f2['address'].touched && f2['address'].errors"
                                                class="invalidMessage">
                                                <div *ngIf="f2['address'].errors['required']">
                                                    <i class="fa fa-exclamation-circle"></i> Company address is required
                                                </div>
                                                <div
                                                    *ngIf="!f2['address'].errors['required'] && f2['address'].errors['whitespace']">
                                                    <i class="fa fa-exclamation-circle"></i> Company address cannot be
                                                    just whitespace
                                                </div>
                                            </div>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="space-12"></div>
                        <div class="box-wrraper" style="padding-bottom: 0px;">
                            <div class="box-title">
                                <p>Contact Details</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input formControlName="username" type="text" class="form-control"
                                                appOnlyString placeholder="Name"
                                                [ngClass]="{'is-invalid': f2['username'].invalid && (f2['username'].dirty || f2['username'].touched)}" />
                                            <i class="ace-icon fa fa-user"></i>
                                            <div *ngIf="f2['username'].touched && f2['username'].errors"
                                                class="invalidMessage">
                                                <div *ngIf="f2['username'].errors['required']"><i
                                                        class="fa fa-exclamation-circle"></i> Name is required</div>
                                                <div
                                                    *ngIf="!f2['username'].errors['required'] && f2['username'].errors['whitespace']">
                                                    <i class="fa fa-exclamation-circle"></i> Name cannot be just
                                                    whitespace
                                                </div>
                                                <div *ngIf="f2['username'].errors['minlength']"><i
                                                        class="fa fa-exclamation-circle"></i> Name must be at least 3
                                                    characters</div>
                                                <div *ngIf="f2['username'].errors['maxlength']"><i
                                                        class="fa fa-exclamation-circle"></i> Name must not exceed 20
                                                    characters </div>
                                                <div *ngIf="f2['username'].errors['pattern']"><i
                                                        class="fa fa-exclamation-circle"></i> Please enter the correct
                                                    name</div>

                                            </div>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input formControlName="email" type="email" class="form-control"
                                                placeholder="Email"
                                                [ngClass]="{'is-invalid': f2['email'].invalid && (f2['email'].dirty || f2['email'].touched)}" />
                                            <i class="ace-icon fa fa-envelope"></i>
                                            <div *ngIf="f2['email'].touched && f2['email'].errors"
                                                class="invalidMessage">
                                                <div *ngIf="f2['email'].errors['required']"><i
                                                        class="fa fa-exclamation-circle"></i> Email is required</div>
                                                <div *ngIf="f2['email'].errors['pattern']"><i
                                                        class="fa fa-exclamation-circle"></i> Email is invalid</div>
                                            </div>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input formControlName="mobile" type="text" class="form-control"
                                                appOnlyNumber placeholder="Mobile Number"
                                                [ngClass]="{'is-invalid': f2['mobile'].invalid && (f2['mobile'].dirty || f2['mobile'].touched)}" />
                                            <i class="ace-icon fa fa-phone"></i>
                                            <div *ngIf="f2['mobile'].touched && f2['mobile'].errors"
                                                class="invalidMessage">
                                                <div *ngIf="f2['mobile'].errors['required']"><i
                                                        class="fa fa-exclamation-circle"></i> Mobile Number is required
                                                </div>
                                                <div *ngIf="f2['mobile'].errors['pattern']"><i
                                                        class="fa fa-exclamation-circle"></i> Please enter the correct
                                                    Mobile Number</div>
                                            </div>
                                        </span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="space-8"></div>
                        <div class="capture-code">
                            <div class="col-12">
                                <div class="row capture-row" style="margin-top: 30px;">
                                    <div class="capture-item item1">
                                        <canvas id="signupTextCanvas" name="signupTextCanvas"
                                            style="height:50px; width:150px;" height="40px" width="150px"></canvas>
                                        <img id="signupCaptchaImage" class="left rounded" name="image" />

                                    </div>
                                    <div class="capture-item item2">
                                        <div class="col-selector">
                                            <div class="capture">
                                                <div class="input-field">
                                                    <input formControlName="captcha" type="text" class="form-control"
                                                        autocomplete="off" style="height: 40px;width: 150px;"
                                                        placeholder="Enter Captcha"
                                                        [ngClass]="{'is-invalid': f2['captcha'].invalid && (f2['captcha'].dirty || f2['captcha'].touched)}" />
                                                    <div *ngIf="f2['captcha'].touched && f2['captcha'].invalid"
                                                        class="invalidMessage">
                                                        <div
                                                            *ngIf="f2['captcha'].errors && f2['captcha'].errors['required']">
                                                            <i class="fa fa-exclamation-circle"></i> Captcha is
                                                            required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="capture-item item3">
                                        <div class="col-selector">
                                            <ul class="list-inline text-right">
                                                <li class="list-inline-item">
                                                    <div class="refresh-btn">
                                                        <a href="JavaScript:Void(0);" (click)="GenerateCaptcha(3)"><img
                                                                src="assets/images/refresh.jpg" alt="Refresh"
                                                                title="Refresh" /></a>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="speaker-btn">
                                                        <a href="JavaScript:Void(0);" (click)="captchavoice(3)"><img
                                                                src="assets/images/speaker.jpg" alt=""
                                                                title="Speaker" /></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-8"></div>
                        <div class="col-12 block clearfix">
                            <div style="display: flex;">
                                <label class="block">
                                    <input type="checkbox" class="ace" formControlName="acceptTerms" />
                                    <span class="lbl"> I accept the</span>
                                </label>
                                <a style="padding-left: 4px;cursor: pointer;" (click)="gotoTermsCondition()"> Terms and
                                    Conditions</a>
                            </div>
                            <div *ngIf="f2['acceptTerms'].touched && f2['acceptTerms'].errors" class="invalidMessage">
                                <div *ngIf="f2['acceptTerms'].errors['required']"><i
                                        class="fa fa-exclamation-circle"></i> Accept terms and conditions</div>
                            </div>
                        </div>
                        <div class="space-6"></div>
                        <div class="clearfix">
                            <!-- <button type="reset" class="width-30 pull-left btn btn-sm"
                                (click)="resetForm();">
                                <i class="ace-icon fa fa-refresh"></i>
                                <span class="bigger-110">Reset</span>
                            </button> -->
                            <button (click)="submitSignUpForm()" mat-raised-button type="submit"
                                class="width-100 btn-primary submit-button">
                                <span class="bigger-110"
                                    style="display: flex;align-items: center; justify-content: center;">Register
                                    <ng-container *ngIf="isProccess"><mat-spinner
                                            diameter="25"></mat-spinner></ng-container></span>
                                <!-- <i class="ace-icon fa fa-arrow-right icon-on-right"></i> -->
                            </button>
                        </div>
                    </fieldset>
                </form>
                <!-- <div class="width-100">
                    <a style="cursor: pointer;">Login?</a>
                </div> -->
                <div *ngIf="showOTP">
                    <div class="box-wrraper">
                        <div class="otpWapper">
                            <div class="col-12">
                                <div class="otp-row">
                                    <div class="icon-wrap">
                                        <i class="ace-icon fa fa-envelope"></i>
                                    </div>
                                    <div class="rowLabel">
                                        <label>Email</label>
                                        <div *ngIf="emailVerified" style="font-weight: 600;">{{
                                            signupForm.get('email')?.value }}</div>
                                        <input *ngIf="!emailVerified" type="text" placeholder="Enter OTP">
                                    </div>
                                    <a href="javascript:void(0)" *ngIf="!emailVerified">Verify Email</a>
                                    <img *ngIf="emailVerified" src="../../assets/images/verified.png" alt="verify"
                                        class="ferified-icon">
                                </div>
                                <hr>
                                <div class="otp-row">
                                    <div class="icon-wrap">
                                        <i class="ace-icon fa fa-phone"></i>
                                    </div>
                                    <div class="rowLabel">
                                        <label>Mobile Number</label>
                                        <div *ngIf="mobileVerified" style="font-weight: 600;">{{
                                            signupForm.get('mobile')?.value }}</div>
                                        <input *ngIf="!mobileVerified" type="text" placeholder="Enter OTP">
                                    </div>
                                    <a href="javascript:void(0)" *ngIf="!mobileVerified">Verify Mobile</a>
                                    <img *ngIf="mobileVerified" src="../../assets/images/verified.png" alt="verify"
                                        class="ferified-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button (click)="submitSignUpForm()" mat-raised-button type="submit"
                        class="width-100 btn-primary submit-button" style="margin-top: 30px;">
                        <span class="bigger-110"
                            style="display: flex;align-items: center; justify-content: center;">Proceed <ng-container
                                *ngIf="isProccess"><mat-spinner diameter="25"></mat-spinner></ng-container></span>
                        <!-- <i class="ace-icon fa fa-arrow-right icon-on-right"></i> -->
                    </button>
                </div>

            </div>
        </div>
        <div class="box" *ngIf="formType=='createPassword'">
            <div class="box-inner">
                <!-- <img src="../../assets/images/app-logo.png" alt="Logo" class="main-logo logo-rigth"> -->
                <h2 class="main-heading">Welcome to HRMS!</h2>
                <p class="title">{{parameterType}} your password</p>
                <form [formGroup]="createPassForm">
                    <fieldset>
                        <label class="block clearfix">
                            <label>Name</label>
                            <span class="block input-icon input-icon-right">
                                <input formControlName="name" readonly type="text" class="form-control"
                                    placeholder="Name"
                                    [ngClass]="{'is-invalid': f3['name'].invalid && (f3['name'].dirty || f3['name'].touched)}" />
                                <i class="ace-icon fa fa-user"></i>
                                <div *ngIf="f3['name'].touched && f3['name'].invalid" class="invalidMessage">
                                    <div *ngIf="f3['name'].errors && f3['name'].errors['required']">
                                        <i class="fa fa-exclamation-circle"></i> Name is required.
                                    </div>
                                </div>
                            </span>
                        </label>
                        <label class="block clearfix">
                            <label>Email</label>
                            <span class="block input-icon input-icon-right">
                                <input formControlName="email" readonly type="email" class="form-control"
                                    placeholder="Email"
                                    [ngClass]="{'is-invalid': f3['email'].invalid && (f3['email'].dirty || f3['email'].touched)}" />
                                <i class="ace-icon fa fa-envelope"></i>
                                <div *ngIf="f3['email'].touched && f3['email'].invalid" class="invalidMessage">
                                    <div *ngIf="f3['email'].errors && f3['email'].errors['required']">
                                        <i class="fa fa-exclamation-circle"></i> Email is required.
                                    </div>
                                </div>
                            </span>
                        </label>
                        <label class="block clearfix">
                            <label>New Password</label>
                            <span class="block input-icon input-icon-right">
                                <input formControlName="password" [type]="showPassword ? 'text' : 'password'"
                                    class="form-control" placeholder="Password" maxlength="50"
                                    [ngClass]="{'is-invalid': f3['password'].invalid && (f3['password'].dirty || f3['password'].touched)}" />
                                <i [ngClass]="showPassword  ? 'ace-icon fa fa-eye-slash' : 'ace-icon fa fa-eye'"
                                    ria-hidden="true" (click)="togglePasswordVisibility('password')"
                                    [title]="showPassword?'Hide password':'Show password'"></i>
                                <div *ngIf="f3['password'].touched && f3['password'].invalid" class="invalidMessage">
                                    <div *ngIf="f3['password'].errors && f3['password'].errors['required']">
                                        <i class="fa fa-exclamation-circle"></i> Password is required.
                                    </div>
                                    <div *ngIf="f3['password'].errors && f3['password'].errors['minlength']">
                                        <i class="fa fa-exclamation-circle"></i> Password should at Leat 6 digit.
                                    </div>
                                </div>
                            </span>
                        </label>
                        <label class="block clearfix">
                            <label>Confirm Password</label>
                            <span class="block input-icon input-icon-right">
                                <input formControlName="confirmPassword"
                                    [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
                                    placeholder="Confirm Password" maxlength="50"
                                    [ngClass]="{'is-invalid': f3['confirmPassword'].invalid && (f3['confirmPassword'].dirty || f3['confirmPassword'].touched)}" />
                                <i [ngClass]="showConfirmPassword ? 'ace-icon fa fa-eye-slash' : 'ace-icon fa fa-eye'"
                                    aria-hidden="true" (click)="togglePasswordVisibility('confirmPassword')"
                                    [title]="showConfirmPassword?'Hide password':'Show password'"></i>
                                <div *ngIf="f3['confirmPassword'].touched && f3['confirmPassword'].invalid"
                                    class="invalidMessage">
                                    <div
                                        *ngIf="f3['confirmPassword'].errors && f3['confirmPassword'].errors['required']">
                                        <i class="fa fa-exclamation-circle"></i> Confirm Password is required.
                                    </div>
                                    <div
                                        *ngIf="f3['confirmPassword'].errors && f3['confirmPassword'].errors['confirmPasswordValidator']">
                                        <i class="fa fa-exclamation-circle"></i> Password not matched.
                                    </div>
                                </div>
                            </span>
                        </label>
                        <label class="block clearfix">
                            <app-password-strength [passwordToCheck]="createPassForm.value.password"
                                [hidden]="createPassForm.get('password')?.value ==''"></app-password-strength>
                        </label>
                        <div class="capture-code">
                            <div class="col-12">
                                <div class="row capture-row">
                                    <div class="capture-item item1">
                                        <canvas id="cpTextCanvas" name="cpTextCanvas" style="height:50px; width:150px;"
                                            height="40px" width="150px"></canvas>
                                        <img id="cpCaptchaImage" class="left rounded" name="image" />
                                    </div>
                                    <div class="capture-item item2">
                                        <div class="col-selector">
                                            <div class="capture">
                                                <div class="input-field">
                                                    <input formControlName="captcha" type="text" class="form-control"
                                                        autocomplete="off" style="height: 40px;width: 150px;"
                                                        placeholder="Enter Captcha"
                                                        [ngClass]="{'is-invalid': f3['captcha'].invalid && (f3['captcha'].dirty || f3['captcha'].touched)}" />
                                                    <div *ngIf="f3['captcha'].touched && f3['captcha'].invalid"
                                                        class="invalidMessage">
                                                        <div
                                                            *ngIf="f3['captcha'].errors && f3['captcha'].errors['required']">
                                                            <i class="fa fa-exclamation-circle"></i> Captcha is
                                                            required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="capture-item item3">
                                        <div class="col-selector">
                                            <ul class="list-inline text-right">
                                                <li class="list-inline-item">
                                                    <div class="refresh-btn">
                                                        <a href="JavaScript:Void(0);" (click)="GenerateCaptcha(4)"><img
                                                                src="assets/images/refresh.jpg" alt="Refresh"
                                                                title="Refresh" /></a>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="speaker-btn">
                                                        <a href="JavaScript:Void(0);" (click)="captchavoice(4)"><img
                                                                src="assets/images/speaker.jpg" alt=""
                                                                title="Speaker" /></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button mat-raised-button type="submit" class="width-100 btn-primary submit-button"
                                (click)="submitCreatePassForm()">
                                <span class="bigger-110"
                                    style="display: flex;align-items: center; justify-content: center;">Submit
                                    <ng-container *ngIf="isProccess"><mat-spinner
                                            diameter="25"></mat-spinner></ng-container></span>
                            </button>
                        </div>
                        <div class="space-4"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<ngx-spinner class="fixedNGX" bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff"
    type="line-scale-pulse-out"></ngx-spinner>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #6eafd4">
                <button (click)="display = 'none';" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">×</button>
                <h4 class="modal-title">Alert!!</h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                    <p style="color:black">Hi there !</p>
                    <!-- <p style="color:black;">{{errMsg}}</p> -->
                </div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" class="btn btn-sm btn-primary"
                    (click)="display='none'">OK</button>
            </div>
        </div>
    </div>

    <div class="backdrop " [ngStyle]="{ display: display }"></div>



</div>


<div id="LoginModal" class="modal NP_popup_confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header" style="background-color: #E8B10D">
                <h2 class="modal-title">Confirm?</h2>
            </div>

            <div class="modal-body">
                <p>You are already login in system. Do you want to proceed?</p>
            </div>
            <div class="modal-footer">

                <button data-bb-handler="confirm" type="button" class="btn btn-sm btn-danger"
                    (click)="onCloseHandled()">No</button>
                <button data-bb-handler="confirm" type="button" class="btn btn-sm btn-primary"
                    (click)="OnSubmitModal()">Yes</button>

            </div>
        </div>

    </div>

</div>