<div class="bg-white min-h-screen flex flex-col">

    <!-- Breadcrumb Header -->
    <div class="border-b border-gray-200 p-3">
        <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
    </div>

    <!-- Centered Content -->
    <div class="flex flex-1 justify-center items-start py-12 px-4 sm:px-6">
        <div class="w-full max-w-md">

            <!-- Title -->
            <h2 class="text-3xl font-bold text-[#1976D2] mb-2">
                Change Password
            </h2>
            <p class="text-gray-500 mb-8">
                For security reasons, please update your account password below.
            </p>
            <!-- Form -->
            <form [formGroup]="changePasswordForm" class="space-y-5">

                <!-- Old Password -->
                <div>
                    <div class="relative">
                        <i class="pi pi-lock absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></i>

                        <input [type]="showOldPassword ? 'text' : 'password'" formControlName="oldPassword"
                            placeholder="Old Password" class="w-full pl-10 pr-10 py-3 border border-gray-300 rounded-lg
                     focus:outline-none focus:ring-2 focus:ring-[#1976D2] focus:border-transparent" />

                        <i class="pi absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-400"
                            [ngClass]="showOldPassword ? 'pi-eye-slash' : 'pi-eye'" (click)="togglePassword('old')">
                        </i>
                    </div>

                    <small *ngIf="changePasswordForm.get('oldPassword')?.touched &&
                   changePasswordForm.get('oldPassword')?.errors?.['required']"
                        class="text-red-500 text-sm mt-1 block">
                        Old password is required
                    </small>
                </div>


                <!-- New Password -->
                <div>
                    <div class="relative">
                        <i class="pi pi-lock absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></i>

                        <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
                            placeholder="New Password" class="w-full pl-10 pr-10 py-3 border border-gray-300 rounded-lg
                     focus:outline-none focus:ring-2 focus:ring-[#1976D2] focus:border-transparent" />

                        <i class="pi absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-400"
                            [ngClass]="showNewPassword ? 'pi-eye-slash' : 'pi-eye'" (click)="togglePassword('new')">
                        </i>
                    </div>

                    <small *ngIf="changePasswordForm.get('newPassword')?.touched &&
                   changePasswordForm.get('newPassword')?.errors?.['required']"
                        class="text-red-500 text-sm mt-1 block">
                        New password is required
                    </small>

                    <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']"
                        class="text-red-500 text-sm block">
                        Minimum 8 characters required
                    </small>

                    <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']"
                        class="text-red-500 text-sm block">
                        Must contain uppercase, lowercase, number and special character
                    </small>
                </div>


                <!-- Confirm Password -->
                <div>
                    <div class="relative">
                        <i class="pi pi-lock absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></i>

                        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
                            placeholder="Confirm Password" class="w-full pl-10 pr-10 py-3 border border-gray-300 rounded-lg
                     focus:outline-none focus:ring-2 focus:ring-[#1976D2] focus:border-transparent" />

                        <i class="pi absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-400"
                            [ngClass]="showConfirmPassword ? 'pi-eye-slash' : 'pi-eye'"
                            (click)="togglePassword('confirm')">
                        </i>
                    </div>

                    <small *ngIf="changePasswordForm.get('confirmPassword')?.touched &&
                   changePasswordForm.get('confirmPassword')?.errors?.['required']"
                        class="text-red-500 text-sm mt-1 block">
                        Confirm password is required
                    </small>

                    <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['mismatch']"
                        class="text-red-500 text-sm block">
                        Passwords do not match
                    </small>
                </div>


                <!-- CAPTCHA -->
                <div>
                    <div class="pt-2">
                        <app-captcha></app-captcha>
                    </div>
                </div>

                <!-- Submit Button -->
                <div style="display: flex; justify-content: center;" class="gap-8">
                    <button type="button" (click)="onSubmit()" class="w-full bg-[#1976D2] text-white py-3 font-bold rounded-lg shadow-md
                 hover:bg-blue-700 transition duration-200
                 disabled:opacity-50 disabled:cursor-not-allowed">

                        <span *ngIf="!isProcess()">Change Password</span>

                        <p-progressSpinner *ngIf="isProcess()" styleClass="w-5 h-5" strokeWidth="4">
                        </p-progressSpinner>

                    </button>

                    <button type="button" (click)="onReset()" class="w-full bg-[#1976D2] text-white py-3 font-bold rounded-lg shadow-md
                 hover:bg-blue-700 transition duration-200
                 disabled:opacity-50 disabled:cursor-not-allowed">

                        <span *ngIf="!isProcess()">Reset</span>

                        <p-progressSpinner *ngIf="isProcess()" styleClass="w-5 h-5" strokeWidth="4">
                        </p-progressSpinner>

                    </button>

                </div>
            </form>

        </div>
    </div>

</div>