@use 'tailwindcss';
@import 'primeicons/primeicons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: Inter, 'Segoe UI', sans-serif;
  background: #f1f5f9;
}
 